<div class="container mt-5">
  <nav aria-label="breadcrumb" class="breadcrumb-cont">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Task List</a></li>
      <li class="breadcrumb-item">Edit Task</li>
    </ol>
  </nav>
  <h5>Edit Task</h5>
      <hr>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="formcontroltitle" >
        <!-- <div *ngIf="confirmSubmitted && editForm.controls.formcontroltitle.errors">
            <span *ngIf="confirmSubmitted && editForm.controls.formcontroltitle.errors.required"class="text-danger">
              Please Enter Title
            </span>
          </div> -->
          <div *ngIf="confirmSubmitted && editForm.controls['formcontroltitle'].hasError('required')">
            <span class="text-danger">
              Please Enter Title
            </span>
          </div>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="description" formControlName="formcontroldescription"></textarea>
        <!-- <div *ngIf="confirmSubmitted && editForm.controls.formcontroldescription.errors">
            <span *ngIf="confirmSubmitted && editForm.controls.formcontroldescription.errors.required"class="text-danger">
              Please Enter Description
            </span>
          </div> -->
          <div *ngIf="confirmSubmitted && editForm.controls['formcontroldescription'].hasError('required')">
            <span class="text-danger">
              Please Enter Description
            </span>
          </div>
      </div>
  
      <div class="mb-3">
        <label for="duedate" class="form-label">Due Date:</label>
        <input type="date" class="form-control" id="duedate" formControlName="formcontrolduedate">
        <!-- <div *ngIf="confirmSubmitted && editForm.controls.formcontrolduedate.errors">
            <span *ngIf="confirmSubmitted && editForm.controls.formcontrolduedate.errors.required"class="text-danger">
              Please Enter Due Date
            </span>
          </div> -->
          <div *ngIf="confirmSubmitted && editForm.controls['formcontrolduedate'].hasError('required')">
            <span class="text-danger">
              Please Select Date
            </span>
          </div>
      </div>
  
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select class="form-select" id="status" formControlName="formcontrolstatus">
          <option *ngFor="let option of statusArr" [value]="option" >{{ option }}</option>
        </select>
        <!-- <div *ngIf="confirmSubmitted && editForm.controls.formcontrolstatus.errors">
            <span *ngIf="confirmSubmitted && editForm.controls.formcontrolstatus.errors.required"class="text-danger">
              Please Select Status
            </span>
          </div> -->
          <div *ngIf="confirmSubmitted && editForm.controls['formcontrolstatus'].hasError('required')">
            <span class="text-danger">
              Please Select Status
            </span>
          </div>
      </div>
  
      <button type="submit" class="btn btn-primary" >Update</button>
    </form>
  </div>
<!--  -->