<div class="container mt-5">
    <div>
      <h5>Task Details</h5>
      <hr>
      <nav aria-label="breadcrumb" class="breadcrumb-cont">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Task List</a></li>
          <li class="breadcrumb-item">Edit Task</li>
        </ol>
      </nav>
      <div>
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" [value]="title" readonly>
      </div>
      <div>
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="description" [value]="description" readonly></textarea>
      </div>
      <div>
        <label for="duedate" class="form-label">Due Date:</label>
        <input type="text" class="form-control" id="duedate" [value]="duedate | date:'yyyy-MM-dd'" readonly>
      </div>
      <div>
        <label for="status" class="form-label">Status:</label>
        <input type="text" class="form-control" id="status" [value]="status" readonly>
      </div>
      <!-- <div class="mt-3">
        <a routerLink="/">Back to Task List</a>
      </div> -->
    </div>
  </div>